{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}
{% block title %}Đăng nhập{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="card auth-card">
            {% if messages %}
                {% for message in messages %}
                    <p style="color: red;">{{ message }}</p>
                {% endfor %}
            {% endif %}
            <h2>Đăng ký Customer</h2>

            <form method="post" class="auth-form">
                {% csrf_token %}
                <p>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required>
                </p>

                <p>
                    <label for="password">Mật khẩu</label>
                    <input type="password" name="password" id="password" required>
                </p>

                <button type="submit" class="btn-primary">Đăng nhập</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
